.footer {
    padding: 20px 0;
    background-color: var(--neutral-color-50);
    &__container {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        img {
        }
        &__wrapper {

        }
        &__icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__links {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        a {
            transition: all 0.2s ease-in-out;
            color: var(--primary-color-200);
            &:hover {
                color: var(--neutral-color-300);
            }
        }
    }
    

    a {
        transition: all 0.2s ease-in-out;
    }

    &__whatsapp {
        svg {
            font-size: 16px !important;
        }
    }

    // media query
    @media (max-width: 1200px) {
        &__links {
            gap: 1rem;
            inset: unset;
            display: flex;
            transform: unset;
            position: relative;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            span {
                display: none;
            }
        }
        &__container {
            gap: 3rem;
            flex-direction: column;
            &__logo {
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width: 768px) {
        &__container {
            flex-direction: column;
            &__logo {
                margin-bottom: 20px;
            }
        }
    }
}
