.header {
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
  width: 100vw;
  max-width: var(--vw);
  // overflow: hidden;
  background-color: white;
  height: var(--header-height);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

  &_logo {
    width: 77px;
  }
  &_nav {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    $ctx: &;
    &_ul {
      gap: 100px;
      display: flex;
      list-style: none;
      align-items: center;
      &_sub {
        left: 0;
        top: 100%;
        padding: 0;
        opacity: 0;
        // max-width: 500px;
        min-width: 200px;
        cursor: pointer;
        list-style: none;
        position: absolute;
        visibility: hidden;
        background-color: white;
        transition: 0.3s ease-in-out;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        li {
          padding: 10px;
          transition: 0.3s ease-in-out;
          opacity: 0;
          transform: translateY(-20px);
          text-transform: initial;
          &:hover {
            color: var(--primary-color-200);
            background-color: var(--neutral-color-50);
          }
        }
      }
    }
    &_li {
      $ctx1: &;
      color: black;
      user-select: none;
      // white-space: break-spaces;
      &_sub {
        white-space: nowrap;
        position: relative;

        &::before {
          content: "";
          transform-origin: 50% 50%;
          display: inline-block;
          width: 15px; /* adjust to your desired size */
          height: 15px; /* adjust to your desired size */
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 20l-8-8h16l-8 8z'/%3E%3C/svg%3E");
          transition: transform 0.2s ease-in-out; /* add a transition effect */
        }

        &:hover {
          &::before {
            transform: rotate(180deg);
          }
          #{$ctx}_ul_sub {
            opacity: 1;
            visibility: visible;
            #{$ctx1} {
              animation: slideIn 0.3s ease-in-out forwards;
            }
          }

          li {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  &_container {
    width: 100vw;
    margin: auto;
    display: flex;
    padding: 10px 3rem;
    max-width: 1800px;
    align-items: center;
    background-color: white;
    justify-content: space-between;
  }

  &__hamburger {
    display: none;
    @media (max-width: 877px) {
      display: block;
      button {
        width: 40px;
        height: 40px;
      }
      svg {
        font-size: 2rem;
      }
    }
  }

  @media (max-width: 1180px) {
    &_nav {
      &_ul {
        gap: 50px;
      }
    }
  }

  @media (max-width: 600px) {
    &__contact_button {
      display: none;
    }
  }
  
  &_mobile_nav {
    display: none;
  }
  &__mobile_menu {
    display: none;
  }
  @media (max-width: 877px) {
    
    &_nav {
      display: none;
    }
    &__mobile_menu {
      display: block;
      button {
        width: 30px;
        height: 30px;
      }
      svg {
        font-size: 18px;
      }
    }
    &_mobile_nav {
      z-index: -1;
      width: 100%;
      display: block;
      position: absolute;
      transform: translateY(-100%);
      background: var(--neutral-color-50);
      left: 0;
      & > ul {
        padding: 0;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        li {
          text-align: center;
          grid-row: span 1;
          grid-column: span 1;
        }
      }
    }
  }

  
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }



  // MOBILE
// &__mobile_menu {
  //   top: -35px;
  //   right: 0px;
  //   width: 500px;
  //   height: 500px;
  //   z-index: 100;
  //   color: white;
  //   position: absolute;
  //   padding-right: 30px;
  //   border-radius: 100%;
  //   background-color: var(--primary-color-200);

  //   clip-path: circle(20px at 81% 26%);

  //   &__wrapper {
  //     position: relative;
  //     width: 100%;
  //     height: 100%;
  //   }
  //   ul {
  //     list-style: none;
  //     padding: 0;
  //   }
  //   &__button {
  //     top: 50px;
  //     right: 15px;
  //     cursor: pointer;
      
  //     position: absolute;
  //     background-color: var(--primary-color-200);
  //   }

  //   // media query
  //   @media (min-width: 1000px) {
  //   }
  // }
  
}
