.contact_form {
  margin-top: 2.5rem;
  // The styles for the input, buttons and select elements
  // should be an elegant one with effects on active and hover
  a {
    color: var(--primary-color-200);
    &:hover {
      color: var(--primary-color-300);
    }
  }
  form {
    width: 90%;
    display: flex;
    max-width: 90vw;
    margin-top: 1.5rem;
    padding-right: 15px;
    flex-direction: column;
    gap: 1rem;
    input[type="submit"] {
      background-color: var(--primary-color-200);
      color: white;
      border: none;
      padding: 0.5rem;
      border-radius: 0.25rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: var(--secondary-color-200);
      }
    }
    input {
      padding: 0.5rem;
      border: 1px solid var(--neutral-color-200);
      border-radius: 0.25rem;
      &:focus {
        outline: none;
        border: 1px solid var(--primary-color-200);
      }
    }
    textarea {
      padding: 0.5rem;
      border: 1px solid var(--neutral-color-200);
      border-radius: 0.25rem;
      &:focus {
        outline: none;
        border: 1px solid var(--primary-color-200);
      }
    }
    select {
      padding: 0.5rem;
      border: 1px solid var(--neutral-color-200);
      border-radius: 0.25rem;
      &:focus {
        outline: none;
        border: 1px solid var(--primary-color-200);
      }
    }
    button {
      padding: 0.5rem;
      border: 1px solid var(--neutral-color-200);
      border-radius: 0.25rem;
      background-color: var(--primary-color-200);
      color: white;
      &:hover {
        background-color: var(--primary-color-300);
      }
      &:focus {
        outline: none;
        border: 1px solid var(--primary-color-200);
      }
    }
  }

  // media query
  @media (max-width: 1200px) {
  }
  @media (max-width: 768px) {
    margin-top: 3rem;
    text-align: center;
    
    form {
      margin: auto;
      margin-top: 2rem;
    }
  }
}