@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/ckeditor5/dist/ckeditor5-content.css";

/* video, image, figure, etc, etc all those things should be display: inline */
.ck-content video,
.ck-content figure,
.ck-content img,
.ck-content .image,
.ck-content .image-inline {
  display: inline;
}

.responsive-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 177.78%; /* Aspect ratio 9:16 (16/9 = 1.7778) */
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  max-width: 400px;
  margin: auto;
}

:root[data-theme="theme-light"] {
  --primary-color-200: #e31937;
  --primary-color-dimmer: #e73c4f;

  --neutral-color-50: #f5f6f9;
  --neutral-color-200: #6d6e71;
  --neutral-color-300: #262626;

  --secondary-color-200: #009622;

  --services-line-height: 0px;
  --services-line-max-height: 0px;
}

.h3-modal-reset .ant-modal-content {
  padding: 0 !important;
}

.h3-modal-reset .ant-modal {
  width: 80% !important;
  max-width: 1000px !important;
}

@media (max-width: 768px) {
  .h3-modal-reset .ant-modal {
    width: 90% !important;
    max-width: 300px !important;
  }
}

.inline-block {
  display: inline-block;
}

:root[data-theme="theme-dark"] {
}

:root {
  --todo-circle-size: 25px;
  --header-height: 80px;
  --horizontal-module-progress-width: 0px;
}

html,
body {
  padding: 0;
  margin: 0;
  color: black;
  font-family: var(--font-roboto-slab);
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  /* Heading 1/Bold */
  font-family: var(--font-roboto-slab);
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 115%;
  margin: 0;
}

h2 {
  /* Heading 2/Regular */
  font-family: var(--font-roboto-slab);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  margin: 0;
}

h3 {
  /* Heading 3/Bold */
  font-family: var(--font-roboto-slab);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
}

p,
h4 {
  font-family: var(--font-roboto-slab);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
}

/* responsive text media queries */

@media (max-width: 1200px) {
  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  p,
  h4 {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  p,
  h4 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  p,
  h4 {
    font-size: 18px;
  }
}

ul p,
ol p {
  margin: 0;
}

.page-container {
}

.content-container {
  margin: auto;
  max-width: 1530px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--neutral-color-300);
}

.red {
  color: var(--primary-color-200);
}
.black {
  color: var(--neutral-color-300);
}

.debug {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.swiper {
  padding-bottom: 50px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.floating {
  position: relative;
  display: inline-block;
  animation: floating 3s ease-in-out infinite;
}
.floating:hover {
  animation-play-state: paused;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: translate(-50%, 0) scale(0.95);
    box-shadow: 0 0 0 0 rgba(204, 16, 52, 0.4);
  }
  70% {
    transform: translate(-50%, 0) scale(1);
    box-shadow: 0 0 0 10px rgba(204, 16, 52, 0);
  }
  100% {
    transform: translate(-50%, 0) scale(0.95);
    box-shadow: 0 0 0 0 rgba(204, 16, 52, 0);
  }
}

.pulse-relative {
  animation: pulse-relative 1s ease-in-out infinite;
}
@keyframes pulse-relative {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(204, 16, 52, 0.4);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(204, 16, 52, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(204, 16, 52, 0);
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* fade up animation and class */
.fade_up {
  animation-name: fade_up;
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes fade_up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.anim_delay_1 {
  animation-delay: 0.2s;
}

.anim_delay_2 {
  animation-delay: 0.4s;
}

.anim_delay_3 {
  animation-delay: 0.6s;
}

.anim_delay_4 {
  animation-delay: 0.8s;
}

.position_relative {
  position: relative;
}
.luve_logo_watermark {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  opacity: 1;
  width: 100px !important;
  height: 50px !important;
  background-image: url("https://luveci.com/logos/logo_luve.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.z_index_1 {
  z-index: 1;
}
.z_index_2 {
  z-index: 2;
}
.z_index_3 {
  z-index: 3;
}
.z_index_4 {
  z-index: 4;
}
.page-header {
}

.menu__mobile_menu_open {
  animation: menuOpen 0.3s ease-in-out forwards;
}
@keyframes menuOpen {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.menu__mobile_close {
  animation: menuClose 0.3s ease-in-out forwards;
}
@keyframes menuClose {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.hamburger span {
  display: block;
  position: relative;
  height: 3px;
  width: 25px;
  background: #000;
  margin-bottom: 5px;
  border-radius: 3px;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.hamburger span:nth-child(1) {
  transform-origin: top left;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  transform-origin: center;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(4px, -2.5px);
}

.hamburger.active span:nth-child(2) {
  transform: scaleX(0);
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.swiper-pagination-bullet {
  background: var(--secondary-color-200) !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--primary-color-200) !important;
}

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}

.default-ul {
  display: block !important;
  list-style-type: disc !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  padding-inline-start: 40px !important;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.preloader_pulse {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: var(--primary-color-200);
}

.full-size {
  width: 100%;
  height: 100%;
}
