:root[data-theme="theme-light"] {
  --primary-color-200: #e31937;
  --primary-color-dimmer: #e73c4f;

  --neutral-color-50: #F5F6F9;
  --neutral-color-200: #6d6e71;
  --neutral-color-300: #262626;

  --secondary-color-200: #009622;

  --services-line-height: 0px;
  --services-line-max-height: 0px;
}

:root[data-theme="theme-dark"] {
}

:root {
  --todo-circle-size: 25px;
}

html,
body {
  padding: 0;
  margin: 0;
  color: black;
  font-family: var(--font-roboto-slab);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  /* Heading 1/Bold */
  font-family: var(--font-roboto-slab);
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 115%;
  margin: 0;
}

h2 {
  /* Heading 2/Regular */
  font-family: var(--font-roboto-slab);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  margin: 0;
}

h3 {
  /* Heading 3/Bold */
  font-family: var(--font-roboto-slab);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
}

p, h4 {
  font-family: var(--font-roboto-slab);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
}

ul p, ol p {
  margin: 0;
}

.page-container {

}

.content-container {
  margin: auto;
  max-width: 1530px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--neutral-color-300);
}